[Desktop Entry]
Type=Application
Name=Crypta Launcher
GenericName=Crypta Launcher
Comment=Launch Crypta Daemon in a terminal
Exec=cryptad.crypta-launcher
Terminal=true
Icon=${SNAP}/meta/gui/cryptad.png
Categories=Network;Utility;
Keywords=crypta;cryptad;p2p;daemon;launcher;
X-SnapInstanceName=cryptad
